* {
    margin: auto;
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    background: #e7e7e7;
}

.wrapper {
    max-width: 810px;
    min-width: 320px;
}

.hidden {
    display: none;
}

.gentronics {
    font-size: 22px;
    color: #fff;
    text-shadow: 1px 1px 4px #7e7e7e;
}

.gentronics span {
    color: #a9e4ff;
}

img.logo {
    height: 52px;
}

.bar-header {
    position: relative;
    background: #F0EAEA;
    /*background: #365899;*/
    padding: 12px;
}

.bar-header div {
    display: inline-block;
}

.bar-search-combo {
    padding: 8px;
    width: 98%;
    background-color: #365899;
    border-left: 1px solid #365899;
    border-right: 1px solid #365899;
    border-bottom: 1px solid #365899;
    margin-bottom: 4px;
}

.bar-search-text-box {
    margin: 4px;
    width: 240px;
    font-size: 1rem;
    border:  1px solid #dedede;
    padding: 5px;
}

.bar-search-box .bar-search-filter {
    margin: 4px;
    font-size: 1rem;
    border:  1px solid #dedede;
    padding: 5px;
    width: 120px;
}

.bar-search-submit {
    margin: 4px;
    border:  3px solid #fff;
    font-weight: bold;
    color: #fff;
    background-color: #365899;
    padding: 5px;
    font-size: 1rem;
}

.bar-search-submit:hover {
    background: #5c85d2;
    color: #fff;
}

.bar-search-submit:active {
    background: #264C96;
    color: #fff;
}

/* Cart Icon */
 

.bar-cart a {
    color: #34363C;
    font-size:  17px;
    text-decoration: none;
}

.bar-cart #cart-info {
 color:red
}
.bar-cart a.cart-full {
    color: #1C3393;
}

.dropbtn {
    background-color: #f9f9f9;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    z-index: 200;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 4px;
    border-radius: 2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #fff;
    background-color: #365899;
}

@media (min-width: 320px) and (max-width: 359px) {
    .bar-search-combo {
        margin-left: 4px;
        margin-top: 4px;
        display: inline-block;
    }
    
    .bar-search-text-box {
        width: 160px;
    }

    .bar-search-box > * {
        display: block;
        width: 92% !important;
        padding: 5px !important;
    }
}

@media (min-width: 360px) and (max-width: 639px) {
    .bar-search-combo {
        margin-left: 4px;
        margin-top: 4px;
        display: inline-block;
    }
    
    .bar-search-text-box {
        width: 160px;
    }

    .bar-search-box > * {
        display: block;
        width: 93% !important;
        padding: 5px !important;
    }
}

@media (min-width: 640px) and (max-width: 766px) {
    .bar-search-combo {
        margin-left: 4px;
        margin-top: 4px;
        display: inline-block;
    }
    
    .bar-search-text-box {
        width: 160px;
    }

    .bar-search-box > * {
        display: block;
        width: 90% !important;
        padding: 5px !important;
    }
}

#product-list {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.prod-wrapp {
    width: 264px;
    border: 1px solid gray;
    margin: 1px;
    padding: 1px;
    background: #fff;
    border: 1px solid gray;
}

.pImg {
    width: 262px;
    height: 164px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    border-bottom: 1px dotted lightgray;
}

.pImg img {
    width: 100%;
    position: relative;
    margin: auto auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.pImg:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.title {
    width: 254px;
    height: 20px;
    padding: 5px;
    border-bottom: 1px dotted lightgray;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
}
.sDesc {
    width: 254px;
    height: 32px;
    padding: 5px;
    border-bottom: 1px dotted lightgray;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
}

.price {
    color: #167310;
    width: 254px;
    padding: 5px;
    border-bottom: 1px dotted lightgray;
    border-width: 1px;
    min-height: 30px;
}

.price .cart-add {
    color: #fff;
    font-family: inherit;
    letter-spacing: inherit;
    padding: 0 16px;
    vertical-align: baseline;
    background-color: #4267b2;
    border-color: #4267b2;
    line-height: 28px;
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    position: relative;
    text-align: center;
    text-shadow: none;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    word-wrap: break-word;
    content: '';
    display: inline-block;
    height: 28px;
    vertical-align: middle;
    text-decoration: none;
    height: 31px;
    margin-left:2px
}

.price .cart-add:hover, .price .cart-add:active {
    height: 28px;
    color: #fff;
    background-color: #365899;
    border-color: #365899;
}

.price .cart-qty {
    border-color: #dddfe2;
    min-height: 32px;
    padding-bottom: 7px;
    padding-top: 7px;
    font-size: 12px;
    line-height: 16px;
    padding-left: 5px;
    background: #fff;
    border: 1px solid #bdc7d8;
    box-sizing: border-box;
    cursor: text;
    padding: 3px;
    text-align: center;
    width:50px
}

.price .value {
    font-weight: bolder;
    font-size: 1.2rem;
}

.action-btn {
    width: 254px;
    padding: 5px;
    border:0;
    text-align: center;
    background: #e8e8e8;
}

.action-btn a {
    margin: 6px;
    text-decoration: none;
    color: #365899;
    padding: 4px;
    border-radius: 4px;
}

.action-btn a:hover {
    color: #365899;
    background-color: #cecece;
}

.pipe:before {
    content: '|';
    color: #7e7e7e;
}

.cl {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*checkout*/
.ckBox{
  border:1px solid gray;
  background-color:white;
  clear: both;
  width:100%;
}
#product-list{
 background-color:white;
}

#shipaddress {text-align:left}
#shipaddress table{margin:0}
#product-list h3 {
  margin-top:10px;
  font-weight:bold;
  clear: both;
}
#basketList .qtyBox{
 width:30px
}

#payment{
  padding:5px
}
#payment ul{
  list-style:none;
}


.error {
   color:red;
   font-size:11px;
   padding-left: 5px;
}
